:root {
  --heading-color: #2e294e;
  --color-pri: #d53dc9;
  --color-sec: #d7263d; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

.header {
  height: 95vh;
  display: flex; }
  .header__circle {
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
    background: linear-gradient(135deg, var(--color-pri), var(--color-sec));
    top: -3.5rem;
    left: 20%;
    box-shadow: 3px 3px 15px rgba(103, 114, 229, 0.4);
    position: absolute; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-40%, -50%);
    width: 75%;
    margin-left: 5rem; }
  .header__svg {
    position: absolute;
    right: 0;
    height: 65rem;
    width: 65rem; }
  .header__left {
    flex: 0 0 50%;
    position: relative; }

.heading-primery {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: var(--heading-color); }

.heading-mission {
  font-size: 6rem;
  margin: 5rem 0 2.5rem;
  display: inline-block;
  font-weight: 500; }
  .heading-mission--skills {
    font-size: 8rem;
    font-weight: 600;
    color: #2e294e;
    margin-bottom: 15rem; }

.paragraph-secondary {
  font-weight: 400; }
  .paragraph-secondary--mission {
    line-height: 1.5;
    font-size: 2.7rem; }
  .paragraph-secondary--about {
    font-size: 2.7rem;
    color: #fff;
    line-height: 1.6; }
  .paragraph-secondary--contact {
    font-size: 2.5rem;
    margin-bottom: 10rem;
    color: #2e294e; }

.heading-service {
  color: #008bf8;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0 1rem; }

.paragraph-service {
  font-size: 1.9rem;
  text-align: center;
  padding: 0 4rem;
  color: #2e294e;
  line-height: 1.3; }

.heading-secondary {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
  margin: 2.5rem 0;
  font-family: "Montserrat"; }
  .heading-secondary--contact {
    color: #2e294e;
    font-size: 6rem; }

.heading-tertiary {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #2e294e; }
  .heading-tertiary--about {
    padding-right: 10rem;
    line-height: 1.6; }
  .heading-tertiary--skills {
    line-height: 1.6; }

.paragraph-tertiary {
  font-size: 2.5rem;
  font-weight: 400; }
  .paragraph-tertiary--about {
    padding-right: 10rem;
    line-height: 1.6;
    color: #fff; }
  .paragraph-tertiary--skills {
    line-height: 1.6; }

.heading-together {
  font-size: 12rem;
  color: #fff;
  font-weight: 300; }
  .heading-together--large {
    display: block;
    text-align: center;
    font-size: 17rem;
    font-weight: 700;
    color: #f1f1f1; }

.paragraph-skills {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5; }

.heading-project {
  font-size: 7rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
  color: #2e2949; }

.paragraph-project {
  font-size: 3rem;
  font-weight: 600;
  color: #2e2949; }

.sub-heading-projects {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem; }

.paragraph-description-project {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.2; }

.paragraph-project-links {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2.5rem;
  line-height: 5rem; }

.btn {
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer; }
  .btn--primery, .btn:link {
    background: #d7263d;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    border-radius: 6px;
    transition: all 0.3s; }
  .btn--primery::after {
    color: #fff;
    background: #6772e5; }

.section-mission {
  position: relative; }

.mission {
  position: relative;
  overflow: hidden; }
  .mission__svg {
    width: 45rem;
    height: 95rem;
    position: absolute; }
  .mission__circle {
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
    background: linear-gradient(135deg, var(--color-pri), var(--color-sec));
    top: 5rem;
    right: -3rem;
    box-shadow: 3px 3px 15px rgba(103, 114, 229, 0.4);
    position: absolute; }
  .mission__text-box {
    width: 50%;
    color: #2e294e;
    text-align: left; }
  .mission__services {
    display: flex;
    justify-content: center;
    margin: 6rem 0 6rem 45rem; }
  .mission__container--1 {
    display: flex;
    flex-direction: column; }
  .mission__container--2 {
    display: flex;
    flex-direction: column; }
  .mission__service {
    width: 31rem;
    height: 31rem;
    margin: 0 4rem;
    background-color: #fff;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s; }
    .mission__service--1 {
      margin-bottom: 4rem; }
    .mission__service--3 {
      margin-top: 5rem; }
    .mission__service--4 {
      margin-top: 4rem; }
  .mission__icon {
    width: 7rem;
    height: 7rem;
    margin-top: 2rem; }

.section-about {
  padding: 5rem 0 70rem;
  background-image: linear-gradient(to left bottom, #6772e5, #008bf8);
  position: relative; }

.about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-left: 35rem; }

.about__middle {
  margin-top: 15rem;
  display: flex;
  justify-content: space-around; }

.about__svg {
  flex: 1.5; }

.about__description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1; }

.about__together {
  right: 10rem;
  text-align: center;
  position: absolute;
  bottom: -4rem; }

.section-skills {
  padding: 5rem 0 45rem;
  background: #f4f4f4;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }

.skills {
  color: #2e294e; }
  .skills__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
  .skills-text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 40%;
    margin-left: 10rem; }
  .skills__svg {
    margin-top: 15rem; }
  .skills__components {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .skills__components--1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 35rem;
      height: 40rem;
      background: #fff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, 0.15);
      border-radius: 5px;
      padding: 0 3rem;
      margin: 0 3rem; }
    .skills__components--2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 36rem;
      height: 40rem;
      background: #fff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, 0.15);
      border-radius: 5px;
      padding: 0 3rem;
      margin: 0 3rem; }
    .skills__components--3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 35rem;
      height: 40rem;
      background: #fff;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, 0.15);
      border-radius: 5px;
      padding: 0 3rem;
      margin: 0 3rem; }
  .skills__icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0; }
  .skills__icon {
    width: 6rem;
    height: 6rem;
    margin: 0 1rem; }

.projects {
  margin-top: 5rem;
  background-image: linear-gradient(to left bottom, #6772e5, #6772e5);
  border-bottom-right-radius: 15% 3%;
  border-bottom-left-radius: 15% 3%;
  padding: 10rem 3rem 20rem; }
  .projects__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .projects__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: -30rem 20rem 15rem 0; }
  .projects__text {
    text-align: center; }
  .projects__component {
    width: 50rem;
    height: 55rem;
    background: #fff;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
    transition: all 0.3s;
    backface-visibility: hidden;
    margin: 0 1rem 6rem; }
  .projects__img-container {
    width: 50rem;
    height: 25rem;
    padding: 2rem; }
  .projects__img {
    width: 100%;
    height: 100%; }
  .projects__description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4.5rem; }
  .projects__technologies {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .projects__technology {
    background-color: #6772e5;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 3px; }
  .projects__review {
    margin-top: 3rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .projects__checkout {
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: #fff;
    color: #008bf8;
    font-size: 1.4rem;
    border: 2px solid #008bf8;
    transition: all 0.3s; }
  .projects__links-box {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .projects__link {
    cursor: pointer;
    text-decoration: none;
    color: #2e294e;
    transition: all 0.3s; }
  .projects__button {
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 600;
    color: #2e294e;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0.6rem 0.6rem 0.1rem rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(120deg, #2e294e, #2e294e 50%, #fff 0);
    transition: all 0.5s;
    background-size: 220%;
    background-position: 100%;
    backface-visibility: hidden; }

.contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center; }
  .contact__text-box {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.u-margin-left-lg {
  margin-left: 35rem; }
