.btn {
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  @include respond(tab-land2) {
    padding: 1.5rem 2.4rem;
  }

  &--primery,
  &:link {
    background: #d7263d;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    border-radius: 6px;
    transition: all 0.3s;
    @include respond(tab-land) {
      font-size: 1.7rem;
    }
    @include respond(phone-large) {
      font-size: 2rem;
    }
  }

  &--primery::after {
    color: #fff;
    background: #6772e5;
  }
}
