.heading-primery {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: var(--heading-color);

  @include respond(desktop) {
    font-size: 6rem;
  }
  @include respond(tab-land) {
    font-size: 5rem;
  }
  @include respond(phone-small) {
    font-size: 4.5rem;
  }
}
.paragraph-primary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;

  @include respond(desktop) {
    font-size: 2.5rem;
  }

  @include respond(tab-land) {
    font-size: 2.2rem;
  }
  @include respond(phone-small) {
    font-size: 2.1rem;
  }
}
.heading-mission {
  font-size: 6rem;
  margin: 5rem 0 2.5rem;
  display: inline-block;
  font-weight: 500;

  @include respond(desktop) {
    font-size: 5rem;
  }
  @include respond(tab-land) {
    font-size: 4rem;
  }

  &--skills {
    font-size: 8rem;
    font-weight: 600;
    color: #2e294e;
    margin-bottom: 15rem;
    @include respond(desktop) {
      font-size: 6rem;
    }
    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(phone-large) {
      margin-bottom: 7rem;
    }
  }
}

.paragraph-secondary {
  font-weight: 400;

  &--mission {
    line-height: 1.5;
    font-size: 2.7rem;
  }
  &--about {
    font-size: 2.7rem;
    color: #fff;
    line-height: 1.6;
    @include respond(big-screen) {
      font-size: 2.7rem;
    }
    @include respond(desktop) {
      font-size: 2.3rem;
    }

    @include respond(tab-land) {
      font-size: 2.2rem;
    }
  }

  &--contact {
    font-size: 2.5rem;
    margin-bottom: 10rem;
    color: #2e294e;
  }
}
.heading-service {
  color: #008bf8;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
.paragraph-service {
  font-size: 1.9rem;
  text-align: center;
  padding: 0 4rem;
  color: #2e294e;
  line-height: 1.3;
}
.heading-secondary {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
  margin: 2.5rem 0;
  font-family: "Montserrat";

  @include respond(desktop) {
    font-size: 6rem;
  }

  @include respond(tab-land) {
    font-size: 5rem;
  }

  &--contact {
    color: #2e294e;
    font-size: 6rem;
  }
}
.heading-tertiary {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #2e294e;
  @include respond(desktop) {
    font-size: 4rem;
  }
  @include respond(tab-land) {
    font-size: 3rem;
  }

  &--about {
    padding-right: 10rem;
    line-height: 1.6;
  }
  &--skills {
    line-height: 1.6;
  }
}
.paragraph-tertiary {
  font-size: 2.5rem;
  font-weight: 400;

  &--about {
    padding-right: 10rem;
    line-height: 1.6;
    color: #fff;
    @include respond(desktop2) {
      padding-right: 10rem;
    }
    @include respond(desktop) {
      font-size: 2.1rem;
    }
    @include respond(tab-land2) {
      padding-right: 8rem;
    }
    @include respond(tab-land) {
      padding-right: 5rem;
      font-size: 2rem;
    }

    @include respond(phone-large) {
      padding-right: 0rem;
    }
  }
  &--skills {
    line-height: 1.6;
    @include respond(desktop) {
      font-size: 2.1rem;
    }
    @include respond(tab-land) {
      font-size: 2rem;
    }
  }
}
.heading-together {
  font-size: 12rem;
  color: #fff;
  font-weight: 300;

  @include respond(desktop) {
    font-size: 11rem;
  }

  @include respond(tab-land2) {
    font-size: 10rem;
  }
  @include respond(tab-land) {
    font-size: 8rem;
  }

  @include respond(phone-mid) {
    font-size: 6rem;
  }
  @include respond(phone-small) {
    font-size: 5rem;
  }

  &--large {
    display: block;
    text-align: center;
    font-size: 17rem;
    font-weight: 700;
    color: #f1f1f1;

    @include respond(desktop) {
      font-size: 16rem;
    }

    @include respond(tab-land2) {
      font-size: 15rem;
    }
    @include respond(tab-land) {
      font-size: 13rem;
    }

    @include respond(phone-mid) {
      font-size: 11rem;
    }
    @include respond(phone-small) {
      font-size: 9rem;
    }
  }
}
.paragraph-skills {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  @include respond(tab-land) {
    font-size: 1.8rem;
  }
}
.heading-project {
  font-size: 7rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
  color: #2e2949;

  @include respond(desktop) {
    font-size: 6rem;
  }
}
.paragraph-project {
  font-size: 3rem;
  font-weight: 600;
  color: #2e2949;

  @include respond(desktop) {
    font-size: 2.3rem;
  }
}
.sub-heading-projects {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;

  @include respond(tab-land) {
    font-size: 2.2rem;
  }
}
.paragraph-description-project {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.2;

  @include respond(tab-land) {
    font-size: 1.7rem;
  }
}
.paragraph-project-links {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2.5rem;
  line-height: 5rem;

  @include respond(tab-land) {
    font-size: 2.4rem;
  }
  @include respond(tab-port) {
    padding: 0 4rem;
  }
  @include respond(phone-mid2) {
    padding: 0 6rem;
  }
  @include respond(phone-mid) {
    padding: 0 4rem;
  }
  @include respond(phone-small) {
    font-size: 2.1rem;

    padding: 0 2rem;
  }

  &--contact {
    color: #2e294e;
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 500;
  }
}
.paragraph-footer {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
